on init
    chown system system /dev/dun
    chown system system /dev/dun2
    setprop sys.usb.configfs 1

on fs
    export ANDROID_ROOT /system_root

    wait /dev/block/platform/13100000.ufs
    symlink /dev/block/platform/13100000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/13100000.ufs/by-name /dev/block/by-name
